body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: hsla(0, 0%, 100%, 0.941);
}

header {
    background-color: #222;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: black;
}

.about-container, .qual-container, .doc-container, .project-container, .contact-container {
    text-align: left;
    margin: 40px auto;
    padding: 20px;
    width: 60%;
    border: 2px solid black;
    border-radius: 10px;
    background-color:black;
}

.profile-section {
    text-align: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid black;
}

.social-links a {
    display: block;
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.project-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project {
    margin: 20px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9900;
    color: #121212;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    margin-top: 20px;
}


